###Instalação do Pyarrow

In [1]:
pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

###Importação das bibliotecas

In [11]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

###Derivados de Petróleo

In [20]:
# Carregamento do Dataframe Localmente em csv

dfppandas = pd.read_csv('/content/dataset_final_derivados.csv',sep=',')

In [21]:
# Visão geral da tabela em csv

dfppandas

,ano_mês,uf,produto,unid,volume,criado_em
0,2000-01-01,AC,Etanol Hidratado,m3,501.000,2022-09-10T00:00:00.000Z
1,2000-02-01,AC,Etanol Hidratado,m3,454.000,2022-09-10T00:00:00.000Z
2,2000-03-01,AC,Etanol Hidratado,m3,676.000,2022-09-10T00:00:00.000Z
3,2000-04-01,AC,Etanol Hidratado,m3,678.000,2022-09-10T00:00:00.000Z
4,2000-05-01,AC,Etanol Hidratado,m3,1.467,2022-09-10T00:00:00.000Z
...,...,...,...,...,...,...
46725,2021-07-01,BA,Querosene Iluminante,m3,5.000,2022-09-11T00:00:00.000Z
46726,2022-02-01,BA,Querosene Iluminante,m3,46.000,2022-09-11T00:00:00.000Z
46727,2022-03-01,BA,Querosene Iluminante,m3,168.000,2022-09-11T00:00:00.000Z
46728,2022-05-01,BA,Querosene Iluminante,m3,350.000,2022-09-11T00:00:00.000Z
46729,2022-06-01,BA,Querosene Iluminante,m3,413.000,2022-09-11T00:00:00.000Z

In [22]:
# Conversão de csv para parquet

dfppandas.to_parquet('derivados_petrol.parquet')

In [23]:
# Carregamento do Dataframe Localmente em parquet

df = pd.read_parquet('/content/derivados_petrol.parquet')

In [24]:
# Visão geral da tabela

df

,ano_mês,uf,produto,unid,volume,criado_em
0,2000-01-01,AC,Etanol Hidratado,m3,501.000,2022-09-10T00:00:00.000Z
1,2000-02-01,AC,Etanol Hidratado,m3,454.000,2022-09-10T00:00:00.000Z
2,2000-03-01,AC,Etanol Hidratado,m3,676.000,2022-09-10T00:00:00.000Z
3,2000-04-01,AC,Etanol Hidratado,m3,678.000,2022-09-10T00:00:00.000Z
4,2000-05-01,AC,Etanol Hidratado,m3,1.467,2022-09-10T00:00:00.000Z
...,...,...,...,...,...,...
46725,2021-07-01,BA,Querosene Iluminante,m3,5.000,2022-09-11T00:00:00.000Z
46726,2022-02-01,BA,Querosene Iluminante,m3,46.000,2022-09-11T00:00:00.000Z
46727,2022-03-01,BA,Querosene Iluminante,m3,168.000,2022-09-11T00:00:00.000Z
46728,2022-05-01,BA,Querosene Iluminante,m3,350.000,2022-09-11T00:00:00.000Z
46729,2022-06-01,BA,Querosene Iluminante,m3,413.000,2022-09-11T00:00:00.000Z

###Diesel

In [14]:
# Carregamento do Dataframe Localmente em csv

dfdpandas = pd.read_csv('/content/diesel.csv',sep=',')

In [25]:
# Visão geral da tabela em csv

dfdpandas

         ano_mês  uf      produto unid  volume                 criado_em
0     2000-01-01  AC  Óleo Diesel   m3  18.025  2022-09-11T00:00:00.000Z
1     2000-02-01  AC  Óleo Diesel   m3  18.336  2022-09-11T00:00:00.000Z
2     2000-03-01  AC  Óleo Diesel   m3  16.654  2022-09-11T00:00:00.000Z
3     2000-04-01  AC  Óleo Diesel   m3  15.146  2022-09-11T00:00:00.000Z
4     2000-05-01  AC  Óleo Diesel   m3  18.681  2022-09-11T00:00:00.000Z
...          ...  ..          ...  ...     ...                       ...
7190  2022-02-01  AM  Óleo Diesel   m3  79.567  2022-09-11T00:00:00.000Z
7191  2022-03-01  AM  Óleo Diesel   m3  80.479  2022-09-11T00:00:00.000Z
7192  2022-04-01  AM  Óleo Diesel   m3  81.446  2022-09-11T00:00:00.000Z
7193  2022-05-01  AM  Óleo Diesel   m3  91.668  2022-09-11T00:00:00.000Z
7194  2022-06-01  AM  Óleo Diesel   m3  86.178  2022-09-11T00:00:00.000Z

[7195 rows x 6 columns]

In [15]:
# Conversão de csv para parquet

dfdpandas.to_parquet('diesel.parquet')

In [18]:
# Carregamento do Dataframe Localmente em parquet

dfd = pd.read_parquet('diesel.parquet')

In [19]:
# Visão geral da tabela

dfd

         ano_mês  uf      produto unid  volume                 criado_em
0     2000-01-01  AC  Óleo Diesel   m3  18.025  2022-09-11T00:00:00.000Z
1     2000-02-01  AC  Óleo Diesel   m3  18.336  2022-09-11T00:00:00.000Z
2     2000-03-01  AC  Óleo Diesel   m3  16.654  2022-09-11T00:00:00.000Z
3     2000-04-01  AC  Óleo Diesel   m3  15.146  2022-09-11T00:00:00.000Z
4     2000-05-01  AC  Óleo Diesel   m3  18.681  2022-09-11T00:00:00.000Z
...          ...  ..          ...  ...     ...                       ...
7190  2022-02-01  AM  Óleo Diesel   m3  79.567  2022-09-11T00:00:00.000Z
7191  2022-03-01  AM  Óleo Diesel   m3  80.479  2022-09-11T00:00:00.000Z
7192  2022-04-01  AM  Óleo Diesel   m3  81.446  2022-09-11T00:00:00.000Z
7193  2022-05-01  AM  Óleo Diesel   m3  91.668  2022-09-11T00:00:00.000Z
7194  2022-06-01  AM  Óleo Diesel   m3  86.178  2022-09-11T00:00:00.000Z

[7195 rows x 6 columns]